.random-section {
    margin-top: 40px;
}

.grid {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}