.random-section {
    margin-top: 40px;
}

.big-card {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 20px;
}

.mini-card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}